.event {
  padding: 0px 0px 15px 0px;
  img {
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
  }
  h1 {
    margin: 15px 0px 0px 0px;
    font-size: $size6;
  }
  h2 {
    font-size: $size7;
    margin: 10px 0 15px 0;
    @include md {
      margin: 20px 0 30px 0;
    }
  }
  h6 {
    font-family: "Muli", sans-serif;
    font-size: $small2;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
  }
  p {
    margin: 15px 0 15px 0;
    font-size: $small2;
    line-height: $height1;
    @include lg {
      font-size: $small1;
      line-height: $height3;
    }
  }
  .container {
    padding: 10px 40px 10px 40px;
    @include md {
      padding: 15px 50px 15px 50px;
    }
    @include lg {
      padding: 50px 200px 50px 200px;
    }
  }
  iframe {
    margin-top: 10px;
    width: 100%;
    height: 80vh;
  }
  .btn {
    width: 60%;
    margin: 20px 0 0 0;
    @include md{
      width: 30%;
    }
  }
}
