//font
h1, h2, h3 {
    font-family: $family;
}

p{
    font-family: 'Muli', sans-serif;
    color: #5f6769;
}

//color
.white-text{
    color: white;
}

//formating
.center{
    text-align: center;
}

.middle{
    vertical-align: middle;
}

//item
.btn{
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: $small1;
    border-radius: 15px;
    font-family: 'Muli', sans-serif;
}

//grid
.container{
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 8px;
    .col1{
        grid-column: span 1;
    }
    .col2{
        grid-column: span 2;
    }
    .col3{
        grid-column: span 3;
    }
    .col4{
        grid-column: span 4;
    }
    .col5{
        grid-column: span 5;
    }
    .col6{
        grid-column: span 6;
    }
    .col7{
        grid-column: span 7;
    }
    .col8{
        grid-column: span 8;
    }
    .col9{
        grid-column: span 9;
    }
    .col10{
        grid-column: span 10;
    }
    .col11{
        grid-column: span 11;
    }
    .col12{
        grid-column: span 12;
    }
}

//mixin logic
// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

