@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
h1, h2, h3 {
  font-family: "Cookie", cursive;
}

p {
  font-family: 'Muli', sans-serif;
  color: #5f6769;
}

.white-text {
  color: white;
}

.center {
  text-align: center;
}

.middle {
  vertical-align: middle;
}

.btn {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  border-radius: 15px;
  font-family: 'Muli', sans-serif;
}

.container {
  padding: 10px 10px 10px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.container .col1 {
  grid-column: span 1;
}

.container .col2 {
  grid-column: span 2;
}

.container .col3 {
  grid-column: span 3;
}

.container .col4 {
  grid-column: span 4;
}

.container .col5 {
  grid-column: span 5;
}

.container .col6 {
  grid-column: span 6;
}

.container .col7 {
  grid-column: span 7;
}

.container .col8 {
  grid-column: span 8;
}

.container .col9 {
  grid-column: span 9;
}

.container .col10 {
  grid-column: span 10;
}

.container .col11 {
  grid-column: span 11;
}

.container .col12 {
  grid-column: span 12;
}

html,
body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

header h1 {
  margin-top: 0;
  font-size: 30pt;
  letter-spacing: 4px;
}

header h2 {
  margin-top: 0;
}

header p {
  font-family: "Cookie", cursive;
  font-size: 12pt;
  color: white;
  letter-spacing: 4px;
}

header p span {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

header img {
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/13.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/13.jpg);
    background-position: center, top;
  }
}

.profile {
  background-image: url(../images/bg.png);
  padding: 50px 10px 40px 10px;
  margin: 0;
  background-repeat: repeat;
  background-size: contain;
}

.profile h1 {
  margin-top: 0;
  font-size: 20pt;
}

.profile h2 {
  font-size: 18pt;
}

.profile h3 {
  font-size: 12pt;
}

@media (min-width: 768px) {
  .profile h3 {
    font-size: large;
  }
}

@media (min-width: 900px) {
  .profile h3 {
    font-size: 20pt;
  }
}

.profile p {
  font-size: 8pt;
  margin-top: 0;
}

@media (min-width: 768px) {
  .profile p {
    font-size: 10pt;
  }
}

@media (min-width: 900px) {
  .profile p {
    font-size: 12pt;
    line-height: 22px;
  }
}

@media (min-width: 768px) {
  .profile {
    padding: 30px 40px 20px 40px;
  }
  .profile .heart, .profile .images {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 900px) {
  .profile {
    padding: 50px 60px 50px 60px;
  }
}

.event {
  padding: 0px 0px 15px 0px;
}

.event img {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: auto;
}

.event h1 {
  margin: 15px 0px 0px 0px;
  font-size: 20pt;
}

.event h2 {
  font-size: 18pt;
  margin: 10px 0 15px 0;
}

@media (min-width: 768px) {
  .event h2 {
    margin: 20px 0 30px 0;
  }
}

.event h6 {
  font-family: "Muli", sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.event p {
  margin: 15px 0 15px 0;
  font-size: 10pt;
  line-height: 22px;
}

@media (min-width: 900px) {
  .event p {
    font-size: 12pt;
    line-height: 26px;
  }
}

.event .container {
  padding: 10px 40px 10px 40px;
}

@media (min-width: 768px) {
  .event .container {
    padding: 15px 50px 15px 50px;
  }
}

@media (min-width: 900px) {
  .event .container {
    padding: 50px 200px 50px 200px;
  }
}

.event iframe {
  margin-top: 10px;
  width: 100%;
  height: 80vh;
}

.event .btn {
  width: 60%;
  margin: 20px 0 0 0;
}

@media (min-width: 768px) {
  .event .btn {
    width: 30%;
  }
}

.gallery h1 {
  margin: 15px 0px 0px 0px;
  font-size: 20pt;
}

.gallery p {
  font-size: 10pt;
  line-height: 22px;
  margin: 10px 40px 25px 40px;
}

@media (min-width: 900px) {
  .gallery p {
    margin: 30px 150px 30px 150px;
    font-size: 12pt;
    line-height: 26px;
  }
}

.gallery .container {
  padding: 0;
}

@media (min-width: 768px) {
  .gallery .container {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .gallery .container .md6 {
    grid-column: span 4 !important;
  }
}

@media (min-width: 900px) {
  .gallery .container {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .gallery .container .lg4 {
    grid-column: span 4 !important;
  }
}

@media (min-width: 768px) {
  .gallery img {
    margin: 5px 0 5px 0;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
}

.contact h1 {
  font-size: 26pt;
}

.footer {
  background-color: #323c45;
  color: white;
  padding: 20px 30px 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer h1 {
  letter-spacing: 4px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;
}

.images {
  width: 100%;
  height: auto;
}

.anim {
  opacity: 0;
}

.heart {
  width: 70%;
  height: auto;
  padding-top: 100%;
}
/*# sourceMappingURL=style.css.map */