@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import "./_variables";
@import "./_setup";

html,
body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@import "./_modal";
@import "./_header";
@import "./_profile";
@import "./_event";
@import "./_gallery";
@import "./_contact";
@import "./_footer";

.images {
  width: 100%;
  height: auto;
}

.anim {
  opacity: 0;
}

// .anim.visible {
//   opacity: 1;
//   transform: translate(0, 0);
// }

.heart {
  width: 70%;
  height: auto;
  padding-top: 100%;
}
