html,
body {
  height: 100%;
  margin: 0 !important;
  font-family: "Fira Sans", sans-serif;
}
header {
  position: relative;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/ls.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Niconne", cursive;
}

h1 {
  margin-top: 0;
  font-size: 45pt;
  /* text-align: center; */
}

h3 {
  font-size: 24pt;
}

p {
  font-size: 14pt;
}

header h1 {
  color: white;
  vertical-align: middle;
  padding-top: 18%;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
}

iframe {
  width:60%;
  height:400px;
  padding-bottom:50px;
}

.v-middle {
  align-self: center;
  justify-content: center;
}

.center {
  text-align: center;
}

section {
  margin: 30px 35px 40px 35px;
}

/* GRID */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.m2,.m3,.m4.m5.m6.m7.m8.m9.m10.m11.m12{
  padding: 15px;
  margin: 5px;
}

.m2 {
  grid-column: span 2;
}

.m3{
  grid-column:span 3;
}

.m4{
  grid-column: span 4;
}

.m5 {
  grid-column: span 5;
}

.m6 {
  grid-column: span 6;
}

.m8{
  grid-column: span 8;
}

.m12 {
  grid-column: span 12;
}

/* SIZING */
.pd-top-1 {
  padding-top: 30px;
}

/* COLOR */
.color {
  background-color: #71c9ce;
}

.text-color {
  color: #076464;
}

.font-2{
  font-family: "Fira Sans", sans-serif;
}

/* IMAGES */
.img {
  width: 100%;
  height: auto;
}

.cr{
  text-decoration: none;
}

.gallery{
  padding:30px 20px 30px 20px
}

/* ------------------------------------------ */

@media screen and (max-width: 768px) {
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/potrait.jpeg);
  }

  header h1 {
    padding-top: 50%;
  }

  h1 {
    font-size: 30pt;
    padding-top: 30px;
  }

  h3 {
    margin: 10px;
    font-size: 20pt;
  }

  p {
    font-size: 12pt;
  }

  iframe{
    width:100%;
    height:300px;
  }

  .m2,
  .m4,
  .m5,
  .m6,
  .m8 {
    padding: 0px;
    grid-column: span 12;
  }

  .pd-top-1 {
    padding-top: 10px;
  }
}
