.event {
    margin: 20px 0 0 0;
    text-align: center;
    color: white;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .event-content{
        margin: 0 40px 0 40px;
        padding-bottom: 20px;
    }

    iframe {
        margin: 15px 0 15px 0;
        width: 100%;
        height: 80vh;
    }
    
    a {
        margin: 15px 0 15px 0;
    }

    .youtube {
        width: 20%;
    }

    @include lg{
        .images {
            margin: 30px 0 30px 0;
            width: 60%;
        }

        .youtube {
            width: 10%;
        }
    }
}