.floaty {
    position: absolute;
    width:50%;
    z-index: 2;

    .top {
        left: 0;
        top: 0;
        width: 100%;
        transform: translate(-20px,-20px);

        @include md {
            width: 30%;
        }
    }

    .bottom {
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 60%;

        @include md {
            width: 30%;
            display: none;
        }
    }
}