.footer{
    background-color: #323c45;
    color: white;
    padding: 20px 30px 50px 30px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    h1{
        letter-spacing: $spacing1;
    }
    a{
        color: white;
        text-decoration: none;
        font-family: 'Muli', sans-serif;
        margin-bottom: 20px;
        font-size: $small3;
        @include md {
            font-size: $small1;
            text-align: center;
        }
    }
}