.gallery {
  padding: 10px 40px 15px 40px;
  h1 {
    margin: 15px 0px 15px 0px;
    font-size: $size6;
    color: white;
    text-align: center;
  }
  .container {
    padding: 0;
    @include md {
      column-gap: 0;
      .md4 {
        grid-column: span 4 !important;
      }
    }
    @include lg {
      column-gap: 0;
      .lg4 {
        grid-column: span 4 !important;
      }
    }
  }
  @include md {
    img {
      margin: 5px 0 5px 0;
    }
  }
}
