.profile {
    // width: 100vh;
    margin-top: 100px;

    .head-text {
        text-align: right;
        font-size: $small2;
        margin-right: 30px;
        text-transform: capitalize;
        @include md {
            text-align: center;
            font-size: $size8;
        }
    }

    h1 {
        text-align: center;
        color: wheat;
        margin-bottom: 5px;
    }

    p {
        font-size: $small3;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-align: center;
        @include lg {
            font-size: $small1;
        }
    }

    hr {
        width: 82%;
        @include md {
            margin-top: 30px;
        }
    }

    .love {
        width: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .initial {
        h1 {
            text-align: right;
            padding-right: 30px;
            padding-bottom: 30px;
            @include md {
                text-align: center;
                font-size: $size4;
                padding-bottom: 0;
            }
        }
    }
}