// font size
$size1: 30pt;
$size2: 28pt;
$size3: 26pt;
$size4: 24pt;
$size5: 22pt;
$size6: 20pt;
$size7: 18pt;
$size8: 16pt;
$size9: 14pt;

//small
$small1: 12pt;
$small2: 10pt;
$small3: 8pt;

//font spacing
$spacing1: 4px;

$family: 'Dancing Script', cursive;

//font height
$height1: 22px;
$height2: 24px;
$height3: 26px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 900px;
// Large tablets and desktops
$screen-xl-min: 1024px;