@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Muli&display=swap");
h1, h2, h3 {
  font-family: "Dancing Script", cursive;
}

p {
  font-family: 'Muli', sans-serif;
}

.white-text {
  color: white !important;
}

.center {
  text-align: center;
}

.middle {
  vertical-align: middle;
}

.btn {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  border-radius: 15px;
  font-family: 'Muli', sans-serif;
}

.container {
  padding: 10px 10px 10px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.container .col1 {
  grid-column: span 1;
}

.container .col2 {
  grid-column: span 2;
}

.container .col3 {
  grid-column: span 3;
}

.container .col4 {
  grid-column: span 4;
}

.container .col5 {
  grid-column: span 5;
}

.container .col6 {
  grid-column: span 6;
}

.container .col7 {
  grid-column: span 7;
}

.container .col8 {
  grid-column: span 8;
}

.container .col9 {
  grid-column: span 9;
}

.container .col10 {
  grid-column: span 10;
}

.container .col11 {
  grid-column: span 11;
}

.container .col12 {
  grid-column: span 12;
}

html,
body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #44546a;
}

.images {
  width: 100%;
  height: auto;
}

.floaty {
  position: absolute;
  width: 50%;
  z-index: 2;
}

.floaty .top {
  left: 0;
  top: 0;
  width: 100%;
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
}

@media (min-width: 768px) {
  .floaty .top {
    width: 30%;
  }
}

.floaty .bottom {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 60%;
}

@media (min-width: 768px) {
  .floaty .bottom {
    width: 30%;
    display: none;
  }
}

.profile {
  margin-top: 100px;
}

.profile .head-text {
  text-align: right;
  font-size: 10pt;
  margin-right: 30px;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .profile .head-text {
    text-align: center;
    font-size: 16pt;
  }
}

.profile h1 {
  text-align: center;
  color: wheat;
  margin-bottom: 5px;
}

.profile p {
  font-size: 8pt;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-align: center;
}

@media (min-width: 900px) {
  .profile p {
    font-size: 12pt;
  }
}

.profile hr {
  width: 82%;
}

@media (min-width: 768px) {
  .profile hr {
    margin-top: 30px;
  }
}

.profile .love {
  width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile .initial h1 {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .profile .initial h1 {
    text-align: center;
    font-size: 24pt;
    padding-bottom: 0;
  }
}

.event {
  margin: 20px 0 0 0;
  text-align: center;
  color: white;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.event .event-content {
  margin: 0 40px 0 40px;
  padding-bottom: 20px;
}

.event iframe {
  margin: 15px 0 15px 0;
  width: 100%;
  height: 80vh;
}

.event a {
  margin: 15px 0 15px 0;
}

.event .youtube {
  width: 20%;
}

@media (min-width: 900px) {
  .event .images {
    margin: 30px 0 30px 0;
    width: 60%;
  }
  .event .youtube {
    width: 10%;
  }
}

.gallery {
  padding: 10px 40px 15px 40px;
}

.gallery h1 {
  margin: 15px 0px 15px 0px;
  font-size: 20pt;
  color: white;
  text-align: center;
}

.gallery .container {
  padding: 0;
}

@media (min-width: 768px) {
  .gallery .container {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .gallery .container .md4 {
    grid-column: span 4 !important;
  }
}

@media (min-width: 900px) {
  .gallery .container {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .gallery .container .lg4 {
    grid-column: span 4 !important;
  }
}

@media (min-width: 768px) {
  .gallery img {
    margin: 5px 0 5px 0;
  }
}

.footer {
  background-color: #323c45;
  color: white;
  padding: 20px 30px 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer h1 {
  letter-spacing: 4px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;
  font-size: 8pt;
}

@media (min-width: 768px) {
  .footer a {
    font-size: 12pt;
    text-align: center;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */