@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Muli&display=swap');
@import "./_variables";
@import "./_setup";

html,
body {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #44546a;
}

.images {
    width: 100%;
    height: auto;
}

@import "./_floaty";
@import "./_profile";
@import "./_event";
@import "./_gallery";
@import "./_footer";
@import "./_modal";