.event {
    padding: 0px 0px 0 0px;
    img {
      margin-top: 0;
      padding-top: 0;
      width: 100%;
      height: auto;
    }
    h1 {
      margin: 15px 0px 0px 0px;
      font-size: $size6;
    }
    h2 {
      font-size: $size7;
      margin: 10px 0 15px 0;
      @include md {
          font-size: $size2;
        margin: 20px 0 30px 0;
      }
    }
    h4 {
        font-size: $small1;
        font-family: 'Courgette', cursive;
    }
    h6 {
      font-family: 'Courgette', cursive;
      font-size: $small2;
      font-weight: bold;
      margin: 5px 0px 5px 0px;
    }
    p {
      margin: 15px 0 15px 0;
      font-size: $small2;
      line-height: $height1;
      @include lg {
        font-size: $small1;
        line-height: $height3;
      }
    }
    .container {
      padding: 10px 40px 10px 40px;
      @include md {
        padding: 15px 50px 15px 50px;
      }
      @include lg {
        padding: 50px 200px 50px 200px;
      }
    }
    iframe {
      margin-top: 10px;
      width: 100%;
      height: 80vh;
    }
    .btn {
      width: 60%;
      margin: 20px 0 0 0;
      @include md{
        width: 30%;
      }
    }
    .address {
        width:50%;
        left: 50%;
        transform: translate(50%);
        border-style: groove;
        border-radius: 15px;
        border-width: 2px;
    }
  }
  