@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Parisienne&display=swap');
@import "./_variables";
@import "./_setup";

html,
body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

@import "./_header";
@import "_event";
@import "_footer";