@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Parisienne&display=swap");
h1, h2, h3 {
  font-family: 'Parisienne', cursive;
}

p {
  font-family: 'Courgette', cursive;
  color: #5f6769;
}

.white-text {
  color: white;
}

.bg-grey {
  background-color: #5f6769;
}

.center {
  text-align: center;
}

.middle {
  vertical-align: middle;
}

.btn {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  border-radius: 15px;
  font-family: 'Muli', sans-serif;
}

.container {
  padding: 10px 10px 10px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.container .col1 {
  grid-column: span 1;
}

.container .col2 {
  grid-column: span 2;
}

.container .col3 {
  grid-column: span 3;
}

.container .col4 {
  grid-column: span 4;
}

.container .col5 {
  grid-column: span 5;
}

.container .col6 {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .container .col6 {
    grid-column: span 6;
  }
}

.container .col7 {
  grid-column: span 7;
}

.container .col8 {
  grid-column: span 8;
}

.container .col9 {
  grid-column: span 9;
}

.container .col10 {
  grid-column: span 10;
}

.container .col11 {
  grid-column: span 11;
}

.container .col12 {
  grid-column: span 12;
}

html,
body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/header_pt.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header_pt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

header h1 {
  margin-top: 0;
  font-size: 22pt;
  letter-spacing: 4px;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 34pt;
  }
}

header h2 {
  margin-top: 0;
}

@media (min-width: 768px) {
  header h2 {
    font-size: 28pt;
  }
}

header p {
  font-family: "Parisienne", cursive;
  font-size: 12pt;
  color: white;
  letter-spacing: 4px;
}

header p span {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

header img {
  width: 50px;
  height: 50px;
}

@media (min-width: 768px) {
  header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/header.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header.jpg);
  }
}

.event {
  padding: 0px 0px 0 0px;
}

.event img {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: auto;
}

.event h1 {
  margin: 15px 0px 0px 0px;
  font-size: 20pt;
}

.event h2 {
  font-size: 18pt;
  margin: 10px 0 15px 0;
}

@media (min-width: 768px) {
  .event h2 {
    font-size: 28pt;
    margin: 20px 0 30px 0;
  }
}

.event h4 {
  font-size: 12pt;
  font-family: 'Courgette', cursive;
}

.event h6 {
  font-family: 'Courgette', cursive;
  font-size: 10pt;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.event p {
  margin: 15px 0 15px 0;
  font-size: 10pt;
  line-height: 22px;
}

@media (min-width: 900px) {
  .event p {
    font-size: 12pt;
    line-height: 26px;
  }
}

.event .container {
  padding: 10px 40px 10px 40px;
}

@media (min-width: 768px) {
  .event .container {
    padding: 15px 50px 15px 50px;
  }
}

@media (min-width: 900px) {
  .event .container {
    padding: 50px 200px 50px 200px;
  }
}

.event iframe {
  margin-top: 10px;
  width: 100%;
  height: 80vh;
}

.event .btn {
  width: 60%;
  margin: 20px 0 0 0;
}

@media (min-width: 768px) {
  .event .btn {
    width: 30%;
  }
}

.event .address {
  width: 50%;
  left: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
  border-style: groove;
  border-radius: 15px;
  border-width: 2px;
}

.footer {
  background-color: #323c45;
  color: white;
  padding: 20px 30px 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer h1 {
  letter-spacing: 4px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */