.gallery {
  h1 {
    margin: 15px 0px 0px 0px;
    font-size: $size6;
  }
  p {
    font-size: $small2;
    line-height: $height1;
    margin: 10px 40px 25px 40px;
    @include lg {
      margin: 30px 150px 30px 150px;
      font-size: $small1;
      line-height: $height3;
    }
  }
  .container {
    padding: 0;
    @include md {
      column-gap: 0;
      .md6 {
        grid-column: span 3 !important;
      }
    }
    @include lg {
      column-gap: 0;
      .lg4 {
        grid-column: span 4 !important;
      }
    }
  }
  @include md {
    img {
      margin: 5px 0 5px 0;
    }
  }
}
