header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url(../images/04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  h1 {
    margin-top: 0;
    font-size: $size1;
    letter-spacing: $spacing1;
  }
  h2 {
    margin-top: 0;
  }
  p {
    font-family: "Norican", cursive;
    font-size: $small1;
    color: white;
    letter-spacing: $spacing1;
    span {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
  }
  img{
    width:50px;
    height: 50px;
  }
  @include md{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url(../images/13.jpg);
  }
}
