.profile {
    background-image: url(../images/bg.png);
    padding: 30px 10px 20px 10px;
    margin:0;
    background-repeat: repeat;
    background-size: contain;
    h1 {
      margin-top: 0;
      font-size: $size6;
    }
    h2 {
      font-size: $size7;
    }
    h3 {
      font-size: $small2;
      @include md{
        font-size: large;
      }
      @include lg{
        font-size: $size6;
      }
    }
    p {
      font-size: $small3;
      margin-top: 0;
      @include md{
        font-size: $small2;
      }
      @include lg{
        font-size: $small1;
        line-height: $height1;
      }
    }
    @include md{
      padding: 30px 40px 20px 40px;
      .heart, .images{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @include lg{
      padding: 50px 60px 50px 60px;
    }
  }