@import url("https://fonts.googleapis.com/css?family=Norican&display=swap");
@import "./_variables";
@import "./_setup";

html,
body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@import "./_header";
@import "./_profile";
@import "./_event";
@import "./_gallery";
@import "./_contact";
@import "./_footer";

.images {
  width: 100%;
  height: auto;
}

.heart {
  width: 70%;
  height: auto;
  padding-top: 100%;
}
